nav{
    display:flex;
    flex-direction: column;
    gap: 9.5%;
    background-color:#9898a4;
    text-align: center;
    height: 90.5vh;
    padding: 1rem;
    width:100%;
    left: 0;
}
.nav-links{
    text-decoration: none; 
    color: black;
    padding: 0.25rem;
    }
.nav-links:hover{
    color: gold;
    transition: 0.5s;
    background-color:rgba(245, 245, 220, 0.146);
    border-radius: 0.6rem;
}

//@media
@media (max-width:200px) {
    nav{
        margin-top: 1.2rem;
        width: 100%;
    }
    nav{
        gap: 3%;
        height: 30vh;
        padding: 0.5rem;
    }
}
