nav{
    display:flex;
    flex-direction: column;
    gap: 9.5%;
    background-color:rgba(56, 56, 79, 0.519);
    position: fixed;
    text-align: center;
    height: 100%;
    margin-top: 5.9rem;
    padding: 1rem;
}
.nav-links{
    text-decoration: none; 
    color: black;
    padding: 0.25rem;
    }
.nav-links:hover{
    color: gold;
    transition: 0.5s;
    background-color:rgba(245, 245, 220, 0.146);
    border-radius: 0.6rem;
}
@media (max-width:200px) {
    nav{
        margin-top: 7.0rem;
    }
}